<div class="container">
  <slot class="icon-left" name="icon-left">
    <div class="empty"></div>
  </slot>

  <label class="label" for="input">
    <span>Label</span>
    <i class="require">*</i>
  </label>

  <div class="info">
    <ypr-icon name="info" color="var(--icon-c)"></ypr-icon>
  </div>

  <div class="input-container">
    <input type="text" placeholder="Placeholder" id="input" />
  </div>

  <slot class="icon-right" name="icon-right">
    <ypr-icon name="create" width="24px" color="var(--icon-c)"></ypr-icon>
  </slot>

  <div class="line"></div>

  <div class="details">Details text</div>
</div>
