:host {
  /* background */
  --naural-bg: var(--blue-200);

  /* color */
  --naural-c: var(--blue-600);
  --naural-hover-bg: var(--blue-400);
  --naural-disable-bg: var(--blue-100);
  --naural-disable-c: var(--blue-300);
  --outline-bg: transparent;

  /* border */
  --outline-br: 2px solid var(--blue-500);
  --outline-c: var(--blue-500);
  --outline-hover-bg: var(--blue-100);
  --outline-focus-br: 2px solid var(--blue-700);
  --outline-disabled-br: 2px solid var(--blue-300);
  --outline-disabled-c: var(--blue-300);
  --link-bg: transparent;
  --link-c: var(--blue-500);

  /* padding */
  --link-p: 4px 0;
  --link-hover-c: var(--blue-700);
  --link-hover-br: 2px solid var(--blue-700);
  --link-disabled-c: var(--blue-300);
  --distructive-bg: var(--red-700);
  --distructive-hover-bg: var(--red-800);
  --distructive-disabled-bg: var(--red-400);
}

button {
  border: 2px solid transparent;
  background: var(--blue-500);
  color: var(--gray-100);
  padding: 12px 16px;
  transition: var(--default-transition);
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--header-f);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

button:hover {
  background: var(--blue-700);
  color: var(--gray-100);
}

button:focus {
  border: 2px solid var(--gray-100);
  outline: 0;
}

button:disabled {
  cursor: not-allowed;
  background: var(--blue-300);
  border: 2px solid var(--blue-500);
}

/* Natural */
button.natural {
  background: var(--naural-bg);
  color: var(--naural-c);
}

button.natural:hover {
  background: var(--naural-hover-bg);
}

button.natural:disabled {
  background: var(--naural-disable-bg);
  border: transparent;
  color: var(--naural-disable-c);
}

/* Outline */
button.outline {
  background: var(--outline-bg);
  border: var(--outline-br);
  color: var(--outline-c);
}

button.outline:hover {
  background: var(--outline-hover-bg);
}

button.outline:focus {
  border: var(--outline-focus-br);
}

button.outline:disabled {
  background: var(--outline-bg);
  border: var(--outline-disabled-br);
  color: var(--outline-disabled-c);
}

/* Link */
button.link {
  background: var(--link-bg);
  color: var(--link-c);
  padding: var(--link-p);
}

button.link:hover {
  color: var(--link-hover-c);
  border-bottom: var(--link-hover-br);
}

button.link:disabled {
  color: var(--link-disabled-c);
  border: transparent;
}

/* Distructive */
button.distructive {
  background: var(--distructive-bg);
}

button.distructive:hover {
  background: var(--distructive-hover-bg);
}

button.distructive:disabled {
  background: var(--distructive-disabled-bg);
  border: transparent;
}
