:host {
  width: 100%;
  max-height: 100%;
}

slot[name='header']::slotted(header) {
  width: 100%;
  border: 1px solid red;
}

slot[name='footer']::slotted(footer) {
  width: 100%;
  box-sizing: border-box;
}

.error {
  color: var(--red-500);
}

form {
  height: 100%;
  overflow: hidden;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.content {
  max-height: 100%;
  overflow-y: auto;
}
