<div class="container">
  <nav>
    <slot name="menu">
      <ypr-menu>
        <li slot="menu-item"><a href="/">Chat</a></li>
        <li slot="menu-item"><a href="/signin">Sign In</a></li>
        <li slot="menu-item"><a href="/signup">Sign Up</a></li>
        <li slot="menu-item"><a href="/error404">404</a></li>
        <li slot="menu-item"><a href="/error500">500</a></li>
        <li slot="menu-item"><a href="/dev">Dev Page</a></li>
      </ypr-menu>
    </slot>
  </nav>
  <header>
    <slot name="header"></slot>
  </header>
  <slot> </slot>
  <slot class="footer" name="footer">
    Not a member?
    <ypr-btn link>
      <a href="/signup"> Sign Up </a>
    </ypr-btn>
  </slot>
</div>
