:root {
  /* Color styles */
  --green-900: rgb(12 90 38 / 100%);
  --green-800: rgb(17 136 57 / 100%);
  --green-700: rgb(26 199 84 / 100%);
  --green-600: rgb(29 226 95 / 100%);
  --green-500: rgb(92 234 140 / 100%);
  --green-400: rgb(138 240 172 / 100%);
  --green-300: rgb(165 243 191 / 100%);
  --green-200: rgb(196 247 213 / 100%);
  --green-100: rgb(228 252 236 / 100%);
  --orange-900: rgb(108 71 14 / 100%);
  --orange-800: rgb(154 99 20 / 100%);
  --orange-700: rgb(198 128 26 / 100%);
  --orange-600: rgb(228 156 47 / 100%);
  --orange-500: rgb(234 177 92 / 100%);
  --orange-400: rgb(240 199 138 / 100%);
  --orange-300: rgb(246 221 183 / 100%);
  --orange-200: rgb(248 227 196 / 100%);
  --orange-100: rgb(252 242 228 / 100%);
  --gray-900: rgb(29 35 43 / 100%);
  --gray-800: rgb(49 60 73 / 100%);
  --gray-700: rgb(69 86 104 / 100%);
  --gray-600: rgb(90 111 135 / 100%);
  --gray-500: rgb(143 161 181 / 100%);
  --gray-400: rgb(175 188 202 / 100%);
  --gray-300: rgb(194 202 214 / 100%);
  --gray-200: rgb(215 220 228 / 100%);
  --gray-100: rgb(237 239 243 / 100%);
  --blue-900: rgb(12 58 111 / 100%);
  --blue-800: rgb(17 82 156 / 100%);
  --blue-700: rgb(22 106 203 / 100%);
  --blue-600: rgb(43 131 232 / 100%);
  --blue-500: rgb(87 157 237 / 100%);
  --blue-400: rgb(135 185 242 / 100%);
  --blue-300: rgb(162 202 246 / 100%);
  --blue-200: rgb(195 221 249 / 100%);
  --blue-100: rgb(227 239 252 / 100%);
  --red-100: rgb(251 233 239 / 100%);
  --red-900: rgb(86 16 38 / 100%);
  --red-800: rgb(129 24 57 / 100%);
  --red-700: rgb(172 32 76 / 100%);
  --red-600: rgb(215 40 95 / 100%);
  --red-500: rgb(223 81 126 / 100%);
  --red-400: rgb(231 126 161 / 100%);
  --red-300: rgb(239 169 192 / 100%);
  --red-200: rgb(245 199 214 / 100%);
}
