.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  flex: 1 1 160px;
  height: 80px; 
  color: var(--gray-100);
  display: flex;
}

.box span {
  display: block;
  margin: auto;
  padding: 4px 12px;
}
