<style>
  form {
    width: 100%;
  }

  label {
    width: 100%;
    max-width: 240px;
    display: flex;
    gap: 4px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid transparent;
    background: transparent;
    transition: var(--default-transition);
    font-family: inherit;
  }

  input:focus {
    outline: 0;
    border-bottom: 1px solid var(--blue-500);
    background: var(--blue-200);
  }
</style>
<form>
  <label>
    <input type="text" name="searc" />
    <ypr-btn link>
      <ypr-icon name="search"></ypr-icon>
    </ypr-btn>
  </label>
</form>
