:host {
  width: 100%;
}

form {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.input-container {
  flex-basis: 100%;
}

.action-container {
  flex-shrink: 0;
  flex-grow: 0;
}

input {
  font-family: inherit;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  background: transparent;
  border: 1px solid var(--gray-400);
  padding: 11px 14px;
  color: var(--fograound);
}

input:focus {
  outline: 0;
  border: 1px solid var(--blue-700);
}
