@import url('https://fonts.googleapis.com/css?family=Roboto:400');

:root {
  /* Color styles */
  --green-900: rgb(12 90 38 / 100%);
  --green-800: rgb(17 136 57 / 100%);
  --green-700: rgb(26 199 84 / 100%);
  --green-600: rgb(29 226 95 / 100%);
  --green-500: rgb(92 234 140 / 100%);
  --green-400: rgb(138 240 172 / 100%);
  --green-300: rgb(165 243 191 / 100%);
  --green-200: rgb(196 247 213 / 100%);
  --green-100: rgb(228 252 236 / 100%);
  --orange-900: rgb(108 71 14 / 100%);
  --orange-800: rgb(154 99 20 / 100%);
  --orange-700: rgb(198 128 26 / 100%);
  --orange-600: rgb(228 156 47 / 100%);
  --orange-500: rgb(234 177 92 / 100%);
  --orange-400: rgb(240 199 138 / 100%);
  --orange-300: rgb(246 221 183 / 100%);
  --orange-200: rgb(248 227 196 / 100%);
  --orange-100: rgb(252 242 228 / 100%);
  --gray-900: rgb(29 35 43 / 100%);
  --gray-800: rgb(49 60 73 / 100%);
  --gray-700: rgb(69 86 104 / 100%);
  --gray-600: rgb(90 111 135 / 100%);
  --gray-500: rgb(143 161 181 / 100%);
  --gray-400: rgb(175 188 202 / 100%);
  --gray-300: rgb(194 202 214 / 100%);
  --gray-200: rgb(215 220 228 / 100%);
  --gray-100: rgb(237 239 243 / 100%);
  --blue-900: rgb(12 58 111 / 100%);
  --blue-800: rgb(17 82 156 / 100%);
  --blue-700: rgb(22 106 203 / 100%);
  --blue-600: rgb(43 131 232 / 100%);
  --blue-500: rgb(87 157 237 / 100%);
  --blue-400: rgb(135 185 242 / 100%);
  --blue-300: rgb(162 202 246 / 100%);
  --blue-200: rgb(195 221 249 / 100%);
  --blue-100: rgb(227 239 252 / 100%);
  --red-100: rgb(251 233 239 / 100%);
  --red-900: rgb(86 16 38 / 100%);
  --red-800: rgb(129 24 57 / 100%);
  --red-700: rgb(172 32 76 / 100%);
  --red-600: rgb(215 40 95 / 100%);
  --red-500: rgb(223 81 126 / 100%);
  --red-400: rgb(231 126 161 / 100%);
  --red-300: rgb(239 169 192 / 100%);
  --red-200: rgb(245 199 214 / 100%);

  color-scheme: light dark;
  color: var(--gray-400);
  background-color: var(--gray-900);

  /* Typography styles */
  --system-f: system-ui, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --header-f: 'Roboto', sans-serif;
  --base-lh: 1.75;
  --header-lh: 1.3;
  --header-mr: 3rem 0 1.38rem;
  --base-fw: 400;
  --p-mr: 1rem;
  --h1-fs: 1.383rem;
  --h2-fs: 1.296rem;
  --h3-fs: 1.215rem;
  --h4-fs: 1.138rem;
  --h5-fs: 1.067rem;
  --small-fs: 0.937rem;
  --x-small-fs: 0.75rem;

  font-size: 100%; /* 16px */
  font-weight: var(--base-fw);
  line-height: var(--base-lh);
  font-family: var(--system-f);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  /* Animation */
  --default-transition: all .3s ease;

  /* Breakpoints */
  --tab: 700px;
}

/* Reset styles */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Base styles */

#root {
  height: inherit;
}

h1, h2, h3, h4, h5 {
  margin: var(--header-mr);
  font-family: var(--header-f);
  font-weight: var(--base-fw);
  line-height: var(--header-lh)
}

h1 {
  margin-top: 0;
  font-size: var(--h1-fs);
}

h2 {font-size: var(--h2-fs);}

h3 {font-size: var(--h3-fs);}

h4 {font-size: var(--h4-fs);}

h5 {font-size: var(--h5-fs);}

small, .text-small {font-size: var(--small-fs);}

p {
  margin-bottom: var(--p-mr);
}

a {
  color: var(--blue-500);
  text-decoration: inherit;
}

a:hover {
  color: var(--blue-700);
}

.icon {
  fill: var(--blue-500);
  display: block;
  width: 16px;
  height: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--gray-700);
    background-color: var(--gray-100);
  }
}
